.circle {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
// .CircularProgressbar-text {
//     fill: yellow;
//     margin-right: 10px;
//   }
.row{
    display:flex;
    justify-content: center;
    align-items: center;
}