.card-body{
    background: #161839;


}
img{
    height: 200px;
}
.bg-secondary-shadow{
    border: none;
}
.card{
    border: none;
}
.container-fluid{
    margin-top: 20px;
}
.change-pic{
    display: flex;
    justify-content: center;
}
