.id__header{
    display: flex;
    justify-content: center;
    
}
.id__btn{
    background-color: #2198c1;
    // margin: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 5px;
}
.eth{
    display: flex;
}
.value{
    // width: 100%;
    margin-left: 20px;
    text-align: start;
    font-weight: bold;
    font-size: 18px;
}
.id{
    margin-bottom: 20px;
    width: 80%;
    margin-left: 10%;
    
     border-radius: 5%;
}
h3{
    font-weight: bold;
}
.avatar__pic{
    img{
        border-radius: 50%;
        height: 50px;
        margin-left: 20px;
    }
}
.avatar__name{
    margin:5%;
}
