.node{
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid red;
}



.user{
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width:80px;
    img{
        height: 80px;
    }
    .user__id{
        color:"#000";
        background: radial-gradient(farthest-side at 10% 0px, #bf8522 20%, #fccb6e);
        border-radius: 0px 0px 8px 8px;
    // text-align: center;
    // padding: 5px;
    // width:80px;
    
    }
}



.user1{
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80px;
    img{
        height: 80px;
        width: 80px;
    }
    .user__id1{
    background: radial-gradient(farthest-side at 10% 0px, #2198c1 20%, #ed0bd7);
border-radius: 0px 0px 8px 8px;
width: 80px;

    // text-align: center;
    // padding: 5px;
    // width:80px;
    
    }
}


 .user__id2{
    background: radial-gradient(farthest-side at 10% 0px, #402493 20%, #8c24ad);
    border-radius: 0px 0px 8px 8px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width:80px;
    
    }



.user2{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    img{
        height: 80px;
        width: 80px;

    }
    // .user__id2{
    // background: radial-gradient(farthest-side at 10% 0px, #402493 20%, #8c24ad);
    // border-radius: 0px 0px 8px 8px;
    // text-align: center;
    // // padding: 5px;
    // // width:80px;
    
    // }
}



.user3{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // width:80px;
    img{
        height: 80px;
        width: 80px;

    }
    .user__id3{
    background: radial-gradient(farthest-side at 10% 0px, #ed0bd7 20%, #b01ec6);
    border-radius: 0px 0px 8px 8px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width:80px;
    }
}



.user4{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // width:80px;
    img{
        height: 80px;
        width: 80px;

    }
    .user__id4{
        background: radial-gradient(farthest-side at 10% 0px, #2198c1 20%, #4c28b5);
        border-radius: 0px 0px 8px 8px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width:80px;
    
    }
}
// .user__id1{
//     background: radial-gradient(farthest-side at 10% 0px, #241336 20%, #664194);
//     border-radius: 0px 0px 8px 8px;
//     // text-align: center;
//     // width: 80px;

// }
// .user__id2{
//     background: radial-gradient(farthest-side at 10% 0px, #d73b31 20%, #972617);
//     border-radius: 0px 0px 8px 8px;
//     // text-align: center;
//     // width: 80px;
// }
// .user__id3{
//     background: radial-gradient(farthest-side at 10% 0px, #bf8522 20%, #fccb6e);
//     border-radius: 0px 0px 8px 8px;
//     // text-align: center;
//     // width: 80px;

// }
// .user__id4{
    // background: radial-gradient(farthest-side at 10% 0px, #3d8067 20%, #5bb994);
//     border-radius: 0px 0px 8px 8px;
//     // text-align: center;
//     // width: 80px
// }